@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
}

/* Shared Styles */
.display-flex{
    display: flex;
}

.text-gray{
    color: #424242;
}

.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    padding: 21px 24px 20px 25px;
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    transition: 0.4s;
}

.btn-primary:hover{
    background-color: #da7400;
    transition: 0.4s;
}

.maximum-width{
    max-width: 1440px;
    margin: 0 auto;
}

/* Header Styles */


/* Navbar Styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.brand{
    font-size: 2.813rem;
    font-weight: 700;
}

.menu{
    align-items: center;
    gap: 20px;
}

.menu li{
    list-style: none;
}

.menu-item a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

/* Banner Styling */
.banner{
    padding: 50px 0;
}

.banner-content{
    max-width: 861px;
    margin: 0 auto;
    text-align: center;
}

.banner-title{
    font-size: 3.75rem;
    font-weight: 700;
}

.banner-description{
    padding: 25px 0 40px;
    font-size: 1rem;
}

.banner img{
    border-radius: 8px;
    margin-top: 50px;
    width: 100%;
}

/* Responsive Design */
@media screen and (max-width:567px) {
    
}