@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
}

/* Shared Styles */
.display-flex {
    display: flex;
}

.text-gray {
    color: #424242;
}

.text-light-gray {
    color: #727272;
}

.acent-color {
    color: #FF900E;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    padding: 21px 24px 20px 25px;
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    transition: 0.4s;
}

.btn-primary:hover {
    background-color: #da7400;
    transition: 0.4s;
}

.maximum-width {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Styles */


/* Navbar Styles */
.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.brand {
    font-size: 2.813rem;
    font-weight: 700;
}

.menu {
    align-items: center;
    gap: 20px;
}

.menu li {
    list-style: none;
}

.burger-menu {
    max-width: 2.5rem;
    border-radius: 5px;
    display: none;
}

.menu-item a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: 1s;
}

.menu-item a:hover {
    text-decoration: underline;
    transition: 1s;
}

/* Banner Styling */
.banner {
    padding: 50px 0;
}

.banner-content {
    max-width: 861px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    font-size: 3.75rem;
    font-weight: 700;
}

.banner-description {
    padding: 25px 0 40px;
    font-size: 1rem;
}

.banner img {
    border-radius: 8px;
    margin-top: 50px;
    width: 100%;
}

/* Team Section Styles */
.team-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
    margin: 85px 55px;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-image-container img {
    width: 100%;
    border-radius: 8px;
}

.features-container {
    max-width: 537px;
}

.features-title {
    font-size: 3.875rem;
    font-weight: 700;
}

.thin-text {
    font-weight: 400;
}

.features-description {
    margin: 24px 0 32px;
}

/* Feature Details Section */
.features-details-section {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    align-items: top;
    margin: 50px auto;
}

.features-details-container {
    width: 586px;
}

.features-details-title {
    font-size: 2.785rem;
    font-weight: 700;
    padding-left: 21px;
    border-left: #FF900E solid 5px;
}

.features-details-description {
    margin: 25px 0 30px;
}

.features-card {
    padding: 30px;
    background-color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}

.featur-card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.architect-image img {
    width: 100%;
    border-radius: 8px;
}

.img-container {
    max-width: 800px;
}

.exp-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 45px 0;
    background-color: #FF900E;
    border-radius: 8px;
    color: white;
    max-width: 342px;
    position: relative;
    bottom: 75px;
    left: -54px;
}

.architect-image img {
    width: 100%;
}

.architect-image h3 {
    font-size: 4rem;
    font-weight: 700;
}

.architect-image p {
    font-size: 1.563rem;
}

/* Facts Section Styles */
.facts-section{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 100px;
}

.facts-title{
    font-size: 2.813rem;
    font-weight: 700;
}

.facts-description{
    width: 520px;
    margin-bottom: 50px;
}

.facts-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    align-items: center;
    gap: 125px;
}

.fact-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 35px 30px;
    border: 2px solid #FF900E;
    border-radius: 8px;
}

.fact-card img{
    width: 60px;
}

.fact-card h4{
    font-size: 2.813rem;
    font-weight: 600;
}

/* Responsive Design */
@media screen and (max-width:576px) {

    /* common styles */
    .edge-padding {
        padding: 0 5px;
    }

    .hide {
        display: none;
    }

    /* Header */
    header {
        padding-bottom: 30px;
    }

    /* navbar */
    .menu {
        display: none;
    }

    .burger-menu {
        max-width: 2rem;
        display: inline;
    }

    .brand {
        font-size: 1.75rem;
    }

    .navbar {
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px;
    }

    /* banner */
    .banner-title {
        margin-top: 30px;
        font-size: 2.5rem;
    }

    .banner-description {
        padding: 25px 0;
    }

    .btn-primary {
        padding: 10px 15px;
        font-size: 1.15rem;
    }

    .banner img {
        margin-top: 30px;
    }

    /* Team */
    .team-section {
        flex-direction: column-reverse;
        gap: 30px;
        margin: 25px 45px;
    }

    .features-title {
        font-size: 2.5rem;
    }

    .features-details-section {
        flex-direction: column;
        gap: 30px;
    }

    .features-details-container {
        width: auto;
        padding: 0 20px;
    }

    .features-card {
        margin-bottom: 10px;
    }

    .img-container {
        max-width: auto;
        padding: 0 15px;
    }

    .exp-card {
        left: -25px;
    }

    .facts-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

}